<ion-header mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="top" mode="md" (click)="change()">
      <ion-tab-button tab="request">
        <ion-label>친구요청</ion-label>
        <ion-badge mode="ios" color="danger" class="badgeCnt">{{ requestCnt }}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="list">
        <ion-label>친구목록</ion-label>
        <ion-badge mode="ios" class="badgeCnt">{{ friendCnt }}</ion-badge>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
