<ion-header mode="ios">
  <ion-toolbar color="white">
    <ion-title>골프조인이란?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list mode="ios">
    <div class="itm-guide itm-line">
      <div class="row-1-line-1">
        골프조인은 같이 골프를 즐길 멤버가 부족할때  
        함께 필드에서 골프를 즐길 멤버를 모집하는 서비스 입니다.
        비용은 각자부담이 기본이나 협의를 통해서 조정 가능합니다.
      </div>
      <div class="row-title"><span>골프조인 서비스</span></div>
      <img class="row-1-img-1" src="assets/images/img-golfjoin-a.webp">
    </div>
    <div class="itm-guide itm-line">
      <div class="row-title"><img class="row-3-img-1" src="assets/images/icon-guide-notice.svg"><span>골프조인 이용 유의사항</span></div>
      <div class="row-3-line-1">
        · 골프조인을 신청하고 <span>매칭 최종 확정시 라운드</span> 나가시면 됩니다.<br>
        · 채팅시 무슨 골프장 몇월 몇일 조인건인지 먼저 알려주세요.<br>
        · 골프장 부킹 내역은 초청자에게  개별적으로 확인하세요. 기본적으로 비용은 1/N (각자부담) 입니다.<br>
        · 상대가 사전 입금이 요청하는 경우 정확한 예약 내역을 확인하시고 신중히 진행해주세요.<br>
        · <span>여행사계좌, 타인명의입금, 전액입금요청, 휴대폰 번호는 알려주지 않고 카톡아이디만 알려주는 등 의심스러운 정황이 있을 경우 신고 후 차단하시기 바랍니다.</span><br>
        · <span>금전거래 피해 발생시 티샷에서는 책임을 지지 않습니다.</span>
      </div>
    </div>
    <div class="itm-guide">
      <div class="row-title"><span>'초청자'</span> 와 <span>'신청자'</span> 구분</div>
      <div class="row-4-box-1 top">
        <img class="img-guide" src="assets/images/img-golfjoin-b.webp">
        <div>
          골프조인을 만들었다<br>
          <img src="assets/images/img_arrow_green.svg"><span>초청자</span>
        </div>
      </div>
      <div class="row-4-box-1 bottom">
        <img class="img-guide" src="assets/images/img_screenshot_04.webp">
        <div>
          신청하기 버튼을 눌렀다<br>
          <img src="assets/images/img_arrow_orange.svg"><span>신청자</span>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>