ion-label {
  p {
    margin-bottom: 6px;
    color: rgba(var(--ion-color-dark-rgb), 0.7) !important;
  }
}
ion-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-box {
  margin-top: 10px;
  p {
    font-size: 12px;
    letter-spacing: -0.17px;
  }
}