ion-item {
  --min-height: 80px;
  &.end {
    --background: rgba(var(--ion-color-medium-rgb), 0.2);
  }
}

ion-list {
  .pnl-golfjoin-guide {
    display: flex;
    width: 100%;
    background-color: #ebf6f2;
    justify-content: center;
    .lbl-golfjoin-guide {
      font-size: 15px;
      font-weight: bold;
      color: var(--ion-color-primary);
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    ion-icon {
      width: 52px;
      height: 46px;
      align-self: flex-end;
    }
  }
  ion-label {
    &:first-child {
      max-width: 100px !important;
    }
    &:last-child {
      max-width: 80px !important;
    }
  }
}

ion-label {
  p {
    margin-top: 6px;
    color: rgba(var(--ion-color-dark-rgb), 0.7) !important;
  }
}

ion-thumbnail {
  margin-right: 32px;
}

ion-avatar {
  width: 50px;
  height: 50px;
  img, ion-img {
    border-radius: 40%;
  }
}

ion-fab {
  bottom: 20px;
  right: 20px;
}

ion-footer {
  ion-toolbar {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
    ion-button {
      margin: 10px;
      --border-width: 1px;
      --background: var(--ion-color-white);
      --background-activated-opacity: 0.2;
    }
  }
}