<ion-header mode="ios">
  <ion-toolbar color="white">
    <ion-title>스크린 번개란?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list mode="ios">
    <div class="itm-screen-guide itm-line">
      <div class="row-1-line-1">스크린 번개는 근처에 있는 회원들에게 초대장을 보내 함께 스크린 골프를 즐길 수 있는 서비스입니다.</div>
      <div class="row-1-box-1">
        <img src="assets/images/img_screenshot_01.webp">
        <div>
          지도에서 스크린 <span>골프장을 찾아 선택하고 스크린 번개 만들기</span>를 하시면 더 쉽고 스크린 골프장 등록이 가능합니다.
        </div>
      </div>
    </div>
    <div class="itm-screen-guide itm-line">
      <div class="row-title"><span>스크린 이용료 부담 선택 안내</span></div>
      <img class="row-2-img-1" src="assets/images/img_screenshot_02.webp">
    </div>
    <div class="itm-screen-guide itm-line">
      <div class="row-title"><span>기프트머니 이용 안내</span></div>
      <div class="row-3-line-1">
        기프트머니는 <span>스크린 번개 초청자가 신청자에게 선물하는 것</span>으로, 1만 원단위로 충전 및 사용이 가능합니다.<br>
        미사용 또는 선물 받은 기프트머니는 일정 수수료를 공제하고 출금 가능합니다.<br>
        보다 상세한 내용은 기프트머니 교환에서 확인 가능합니다.
      </div>
    </div>
    <div class="itm-screen-guide">
      <div class="row-title"><span>'초청자'</span> 와 <span>'신청자'</span> 구분</div>
      <div class="row-4-box-1 top">
        <img class="img-guide" src="assets/images/img_screenshot_03.webp">
        <div>
          스크린 번개를 만들었다<br>
          <img src="assets/images/img_arrow_green.svg"><span>초청자</span>
        </div>
      </div>
      <div class="row-4-box-1 bottom">
        <img class="img-guide" src="assets/images/img_screenshot_04.webp">
        <div>
          신청하기 버튼을 눌렀다<br>
          <img src="assets/images/img_arrow_orange.svg"><span>신청자</span>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>