ion-card {
  margin: 16px;
}

ion-item {
  --padding-end: 16px;
  --min-height: 80px;
}

ion-input {
  font-size: 18px;
}

ion-col {
  a {
    font-size: 14px;
  }
}

ion-button {
  font-size: 18px;
}

.label-stacked {
	font-size: 21px;
}

ion-label {
  p {
    a {
      color: var(--ion-color-step-600, #666666);
    }
  }
}