<ion-header mode="ios">
  <ion-toolbar color="white">
    <ion-title>비밀번호 변경</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <form [formGroup]="passwordForm" novalidate>
    <ion-list mode="ios" >
      <ion-item lines="inset" mode="md">
        <ion-label position="stacked">현재 비밀번호</ion-label>
        <ion-input formControlName="oldPassword" type="password" ></ion-input>
      </ion-item>
      <ion-item lines="inset" mode="md">
        <ion-label position="stacked">변경 비밀번호</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <p>※ 소셜 로그인은 해당없음</p>
      <ion-button color="dark" expand="block" (click)="change()" [disabled]="!passwordForm.valid">
        확인
      </ion-button>
    </div>

  </form>

</ion-content>