<ion-header mode="ios">
  <ion-toolbar color="white">
    <ion-title>프리미엄 조인이란?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list mode="ios">
    <div class="itm-guide itm-line">
      <div class="row-1-line-1">
        프리미엄조인은 초청자가 비용을 부담하여 
        같이 골프를 즐길 멤버를 모집하는 서비스 입니다.
        신청자의 정보는 초청자만 확인 가능합니다.
      </div>
      <div class="row-title"><span>프리미엄 조인 서비스</span></div>
      <img class="row-1-img-1" src="assets/images/img-premium-a.webp">
    </div>
    <div class="itm-guide itm-line">
      <div class="row-title"><img class="row-3-img-1" src="assets/images/icon-guide-notice.svg"><span>프리미엄 조인 유의사항</span></div>
      <div class="row-3-line-1">
        · 프리미엄 조인을 신청하고 <span>매칭 최종 확정후</span> 라운딩 나가시면 됩니다.<br>
        · 초청자와 신청자 정보는 외부에 공개되지 않습니다.<br>
        · 신청자 정보는 초청자에게만 표시됩니다. 초청자 정보는 매칭 선택한 신청자에게만 표시됩니다.<br>
        · 매칭 선택전 초청자 정보가 노출되지 않기 때문에 신청자와 채팅으로 협의할 때 어떤 프리미엄 조인 건으로 연락하는것인지 먼저 알려주세요.<br>
        · <span>자신의 개인정보나 휴대폰 번호는 알려주지 않고 카톡아이디만 알려주는 등 의심스러운 정황이 있을 경우 신고 후 차단하시기 바랍니다.</span><br>
        · <span>금전거래 피해 발생시 티샷에서는 책임을 지지 않습니다.</span>
      </div>
    </div>
    <div class="itm-guide">
      <div class="row-title"><span>'초청자'</span> 와 <span>'신청자'</span> 구분</div>
      <div class="row-4-box-1 top">
        <img class="img-guide" src="assets/images/img-premium-b.webp">
        <div>
          프리미엄 조인을 만들었다<br>
          <img src="assets/images/img_arrow_green.svg"><span>초청자</span>
        </div>
      </div>
      <div class="row-4-box-1 bottom">
        <img class="img-guide" src="assets/images/img_screenshot_04.webp">
        <div>
          신청하기 버튼을 눌렀다<br>
          <img src="assets/images/img_arrow_orange.svg"><span>신청자</span>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>