ion-avatar {
  width: 50px;
  height: 50px;
  img, ion-img {
    border-radius: 40%;
  }
}

ion-item {
  --min-height: 80px;
}

ion-label {
  p {
    margin: 6px 0;
    color: rgba(var(--ion-color-dark-rgb), 0.7) !important;
  }
}

ion-badge {
  margin-top: 28px;
}

.date {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 12px;
  color: #989aa2;
}

.btn-more {
  font-size: 17px;
}