<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()" pullFactor="0.5" pullMin="60" pullMax="300">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list mode="ios">
    <ng-container *ngFor="let list of lists; let i = index">
      <ion-item mode="md" lines="inset">
        <ion-avatar slot="start">
          <ion-img [src]="list.thumbnail_image | common: {type: 'profileChange'}" (ionError)="imgError($event)" (click)="profile(list.id)"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2><strong>{{ list.username }}</strong></h2>
          <p>
            {{ list.gender | gender }}
            {{ list.dob | age }}, 
            {{ list.geo_location }}
          </p>
        </ion-label>
        <ion-button fill="clear" slot="end" class="btn-more" (click)="popoverMore($event, list.id, i)">
          <ion-icon slot="icon-only" name="ellipsis-vertical" color="medium" mode="ios"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>

  <ng-container *ngIf="lists && !lists?.length">
    <ion-text color="medium">
      <h6 class="ion-text-center">내역이 없습니다.</h6>
    </ion-text>
  </ng-container>

  <div class="global-spinner" *ngIf="!lists"><ion-spinner name="dots"></ion-spinner></div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>